@page "/counter"

<div class="producer">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Made by <a href="https://dreamenderking.github.io/Home">DreamEnderKing</a></strong>

    <span class="text-nowrap">Contract me?Send me email.<br />
        <a target="_blank" class="font-weight-bold" href="www20040718@163.com">Email: www20040718@163.com</a><br />
    </span>
</div>
