@page "/counter"
@inject IJSRuntime JSRuntime;
@using System.Drawing

<SetTitle title="Counter"></SetTitle>
<h1>Counter</h1><br />
<h3>
    We will calculate the value of Pi by many experiments.<br />
    I'll try .Net connecting javascript meanwhile.
</h3>
<button class="btn btn-primary" @onclick="canvasLoad">Load</button><br />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button><br />
<button class="btn btn-primary" @onclick="IncrementRadius">Radius</button>
<p>Current count: @currentCount<br />
Inside count:@insideCount<br />
Pi Value:@((currentCount == 0) ? "Undefined" : (insideCount / currentCount).ToString())</p>

<canvas id="canvas" width="400" height="400" onload="canvasLoad"></canvas>


@code {
    private int currentCount = 0;
    private int insideCount = 0;
    private int radius = 1;
    private const int times = 500;
    private void IncrementRadius()
    {
        radius += 1;
    }

    private void canvasLoad()
    {
        await JSRuntime.InvokeVoidAsync("canvasLoad");
    }
    private async void IncrementCount()
    {
        currentCount += times;

        int x = 0;
        int y = 0;
        Random random = new Random();
        for(int i = 1; i<=times; i++)
        {
            x = random.Next(0, 400);
            y = random.Next(0, 400);
            await JSRuntime.InvokeAsync<int>("drawPoint", x, y, radius);
            if (Math.Pow(x, 2) + Math.Pow(y, 2) <= 40000)
            {
                insideCount++;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {

    }

}
