@page "/gameSnake"
@inject IJSRuntime JSRuntime;
@inject Canvas2D Canvas;

@code
{
    string Msg = "No error.";
    protected override async Task OnInitializedAsync()
    {
        Canvas.Init(JSRuntime);
    }

    public void Draw()
    {
        try {
            Brush l = new LinearGradientBrush((0, 0), (300, 300), (0, (255, 0, 0)), (1, (0, 0, 255)));
            Canvas.DrawPie((100, 100), (100, 100), l, 0, 90);
        }
        catch(Exception e) {
            Msg = e.Message;
        }
    }
}

<h1>
@Msg
</h1>
<button @onclick="Draw">Draw</button>
<canvas id="canvas" width="400" height="400" />