@page "/"
<SetTitle title="Home"></SetTitle>

<h1>Welcome to your new app.</h1><br />

<a href="https://dreamenderking.gitee.io/mods/">
    <h3>Download useful minecraft mods here.</h3>
</a><br />

<h3>More functions will be published soon.</h3>
