@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <div class="producer">
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
        <strong>Made by DreamEnderKing</strong>

        <span class="text-nowrap">                Contract me?Send me email or make friends through QQ.<br />
            <a target="_blank" class="font-weight-bold" href="www20040718@163.com">Email: www20040718@163.com</a><br />
            <p class="font-weight-bold">QQ number: 351096463</p>
        </span>
    </div>
</div>
