<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @if (isMain)
    {
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <div class="nav-link"
                     @onclick="(e) => (childID, isMain) = (1, false)">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Daily
                </div>
            </li>
            <li class="nav-item px-3">
                <div class="nav-link"
                     @onclick="(e) => (childID, isMain) = (2, false)">
                    <span class="oi oi-aperture" aria-hidden="true"></span> Games
                </div>
            </li>
        </ul>
    }
    else
    {
        <div class="nav-item px-3">
            <div class="nav-link"
                 @onclick="(e) => (childID, isMain) = (0, true)">
                <span class="oi oi-action-undo" aria-hidden="true"></span> 返回上一级
            </div>
        </div>
        <NavSubMenu1 isHidden="@(childID!=1)" />
        <NavSubMenu2 isHidden="@(childID!=2)" />
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool isMain = true;

    private uint childID = 0;

    private void ToggleNavMenu()
    {
        collapseNavMenu = false;
    }

}
