@code {
    [Parameter]
    public bool isHidden { get; set; } = false;

}

<ul class="nav flex-column" style="@("display:" + (!isHidden ? "block" : "none"))">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="schedule">
            <span class="oi oi-calendar" aria-hidden="true"></span> Schedule
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="gameSnake">
            <span class="oi oi-aperture" aria-hidden="true"></span> Snake - Game
        </NavLink>
    </li>
</ul>

